/*
.pixel {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.5;
  filter: sepia(0.6);
}
*/

.page {
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 92px 50px;
  background-color: lightgrey;
}

.header__menu {
  align-self: center;
}

.header__links-list {
  display: flex;
  column-gap: 25px;
  flex-wrap: wrap;
  list-style-type: circle;
}

.header__links-list-item {
  padding-left: 5px;
}

.header__links-list-item:nth-child(1) {
  padding-left: 0;
}

.header__link {
  font: 400 18px 'Raleway', sans-serif;
  color: #000;
  transition: opacity .15s ease;
  text-transform: lowercase;
}

.header__link:hover {
  opacity: .7;
}

.header__link_active {
  text-decoration: none;
}

.header__links-list-item:nth-child(1) {
  list-style-type: none;
}

.header__logo {
  align-self: center;
  width: 129.11px;
  height: 104.65px;
}

.address {
  margin: 0;
  padding: 0;
  font: 400 18px/1.35 'Raleway', sans-serif;
  color: #000;
}

.address__link {
  transition: opacity .15s ease;
}

.address__link:hover {
  opacity: .7;
}

.header__address {
  display: flex;
  flex-direction: column;
  margin-left: 150px;      /*подумать как сделать лучше*/
  padding: 5px 0 4px 0;
}